/* kanban */

.kanban {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-around;
  height: 100%;
}

.kanban-column {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  height: 100%;
  overflow-y: scroll;
  border-right: 1px solid var(--kanban-column-border);
}

.kanban-column:last-child {
  border-right: none;
}

.kanban-column-title {
  position: sticky;
  top: 0px;
  left: 0;
  padding: 7px;
  margin: 0 4px;
  border-bottom: 1px solid var(--kanban-column-border);
  text-align: center;
  letter-spacing: 1.5px;
  background: white;
  color: var(--kanban-column-title);
}

.kanban-card {
  margin: 10px 8px;
  border-radius: 3px;
  border: 1px solid var(--kanban-card-border);
}

.kanban-card-title {
  background: rgba(0,0,0,.055);
  padding: 6px 6px;
  font-weight: bold;
  color: var(--kanban-card-title);
}

.kanban-card-content {
  padding: 4px 9px 5px;
  white-space: pre-wrap;
  color: var(--kanban-card-content);
}
