/* reset global styling */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #container {
  width: 100%;
  height: 100%;
  font-size: 10pt;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif;
}
